.page-item {
  height: 10%;
  border-bottom: 1px solid #a5a5a5;
  margin-bottom: 3.7%;
  padding-bottom: 2.7%;

  &__header {
    display: flex;
    align-items: center;

    h2 {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
    }

    i {
      padding-left: 23px;
      color: #2962ff;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 2.7%;

    &_type {
      display: flex;
      width: 30%;

      p {
        padding-right: 104px;
      }
    }

    &_port {
      display: flex;
      width: 65%;

      p {
        padding-right: 104px;
      }
    }
  }

  a {
    color: #2962ff;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
  }
}
