<div class="page-list">
  <div class="page-list__items">
    <div class="wrapper">
      <h1>SpaceX Ships</h1>
      <app-page-item
        *ngFor="let item of pageOfItems"
        [id]="item.id"
        [title]="item.name"
        [email]="item.email"
        [number]="item.postId"
      ></app-page-item>
      <app-pagination
        [items]="
          dataApi$
            | async
            | pipeEmail: arg1:arg2:arg3
            | pipeTitle: searchTitle
            | pipeType: searchType
        "
        (changePage)="onChangePage($event)"
      ></app-pagination>
    </div>
  </div>
  <div class="page-list__filter">
    <div class="wrapper">
      <h2>Фильтры</h2>
      <input type="text" [(ngModel)]="searchTitle" placeholder="Название" />
      <app-multiselect (shareCheckedList)="shareCheckedList($event)">
      </app-multiselect>
      <app-checkbox (toggle)="onOptionChange($event)"></app-checkbox>
    </div>
  </div>
</div>
