<ul
  *ngIf="pager.pages && pager.pages.length"
  style="
    display: flex;
    justify-content: space-between;
    width: 60px;
    padding-top: 1.1%;
    padding-bottom: 15%;
    position: relative;
  "
>
  <li [ngClass]="{ hide: pager.currentPage === 1 }">
    <i class="fas fa-chevron-left" (click)="setPage(pager.currentPage - 1)"></i>
  </li>
  <li
    *ngFor="let page of pager.pages"
    style="position: absolute; left: 26px"
    [ngClass]="{ hide: pager.totalItems <= 5 }"
  >
    <p>{{ page }}</p>
  </li>
  <li
    style="position: absolute; left: 50px"
    [ngClass]="{
      hide: pager.currentPage === pager.totalPages
    }"
  >
    <i
      (click)="setPage(pager.currentPage + 1)"
      class="fas fa-chevron-right"
    ></i>
  </li>
</ul>
